@model RoadMapSystem.Models.DB.MileStone

@{
    ViewData["Title"] = "Details";
}

<h2>Milestone детальна інформація</h2>

<div>
    <h4>MileStone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeSkillValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeSkillValue.EmployeeSkillValueId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MileStoneId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
